<div class="w-screen h-screen flex justify-center items-center flex-col gap-8 text-white bg-zinc-950">
  <div class="w-full h-auto flex justify-center items-center">
    <h2 class="text-3xl font-bold">Santiago Iannello</h2>
  </div>
  <div class="w-full h-auto flex justify-center items-center flip-horizontal-bottom">
    <img src="assets/splash/logo.png" alt="" height="130" width="130">
  </div>
  <div class="w-full h-auto flex justify-center items-center">
    <p class="text-3xl font-bold">4to A</p>
  </div>
</div>
