<ion-content [fullscreen]="true">
  <header collapse="condense">
    <div class="w-full flex flex-row justify-between items-center h-12 bg-zinc-900 pr-6">
      <ion-title size="large">Home</ion-title>
      <button (click)="logout()" class="bg-blue-500 rounded-lg h-8 text-sm px-2 hover:bg-blue-700 transition-colors duration-300">Cerrar Sesión</button>
    </div>
  </header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
